<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style = 'padding:50px'>

    <div style="background-color: #ADD8E6; color: #666666; padding-left: 25px; padding-right: 100px; padding-top: 10px; padding-bottom: 10px;">
    <h1><a href = '/urls'>TinyApp</a></h1>
      <% if (username) { %>
      <div style="background-color: #ffffff; color:#666666; padding-left:26px; padding-right:5px; padding-top:5px; padding-bottom:5px;">
        Logged in as : <strong><%= username %></strong>
      </div>

      <div style="background-color: #ffffff; color:#666666; padding-left:5px; padding-right:  5px; padding-top:5px; padding-bottom:5px;">
      <form action="/logout" method="POST" style="margin:20px;">
          <label>Log out</label>
          <input type="submit" value="Log out">

      <% } else { %>

      <div style="background-color: #ffffff; color:#666666; padding-left:0px; padding-right:  5px; padding-top:5px; padding-bottom:5px;">
      <form action="/login" method="POST" style="margin:20px;">
          <label for="username">Enter user name:</label>
          <input id="username" type="text" name="username" style="width:80px">
          <input type="submit" value="Log in">
      </form>
      </div>
      <div style="background-color: #ffffff; color:#666666; padding-left:0px; padding-right:  5px; padding-top:5px; padding-bottom:5px;"> <a href = '/register'> Register a username</a>
      </div>
      <% } %>
   </div>

  </body>
</html>