<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <div id="4b" style="background-color: #FFFFFF; color: #A9A9A9; padding-left: 5px; padding-right: 100px; padding-top: 10px; padding-bottom: 10px;">
      Successfully logged in as <%= username %>
    </div>
  </body>
</html>