<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp\(◕ ◡ ◕\)</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <%- include('partials/_header') %>
    <div style='padding-left:25px; padding-right: 50px; padding-top: 20px; padding-bottom: 50px'>
      <h2>Whoa there friendo! How'd you get there? :0</h2>
      <br>
      <h3>You have no access to this page (ಠ_ಠ) </h3>
    </div>
  </body>
</html>