<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <%- include('partials/_header') %>
    <div style='padding-left:25px; padding-right: 50px; padding-top: 20px; padding-bottom: 50px'>
    <% if (username === allUrls[shortURL].userID) { %>}
        <h3>The short URL is <%= shortURL %></h3>
        <form method="POST" action= "/urls/<%= shortURL %>">
          <label for="newURL">Enter the new long URL to update the long URL for <%= shortURL %>:</label>
          <input id="newURL" type="text" name="newURL" placeholder="http://" style="width: 300px">
          <button type="submit">Update</button>
        </form>
    <% } else { %>
        <h2>Looks like you're trying to edit someone else's URL</h2>
        <br>
        You can only edit your own URLs. Click <a href = '/urls'>here</a> to see a list of URLs you have converted.
    <% } %>

    </div>
  </body>
</html>