<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp\(◕ ◡ ◕\)</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <%- include('partials/_header') %>
    <div style='padding-left:25px; padding-right: 50px; padding-top: 20px; padding-bottom: 50px'>
    <h2>Whoa there friendo! You're not logged in :0</h2>
    <br>
    <h3>Start creating a TinyUrl by <a href = '/registration'>registering</a> or <a href = '/login'>logging in</a></h3>
    </div>
  </body>
</html>