<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <%- include('partials/_header') %>
    <% for (var url in urls) {%>
    <li><%= url + ' : ' + urls[url] %>
        <form method="POST" action= "/urls/<%= url %>/delete">
          <button type="submit">delete</button>
        </form>
    </center>
    </li>
    <% } %>
    </div>
    <br>
    <br>
    <a href = "/urls/new">Click here to shorten a new URL</a>
  </body>
</html>