<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <%- include('partials/_header') %>
    <% for (var url in urls) {%>
    <li><%= url + ' : ' + urls[url] %></li>
    <% } %>
<!--     <li><%- JSON.stringify(urls) %></li>
 -->
    <a href = "a link">Click here to shorten a new URL</a>
  </body>
</html>